<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reporte Semanal</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Reporte Semanal para <span th:text="${employeeName}"></span></h1>

<h2>Reporte de Asistencia</h2>
<table>
    <tr>
        <th>Fecha</th>
        <th>Hora de Entrada</th>
        <th>Hora de Salida</th>
        <th>Horas Trabajadas</th>
       <!-- <th>Porcentaje de Asistencia</th>-->
    </tr>
    <tr th:each="attendance : ${attendanceReports}">
        <td th:text="${#temporals.format(attendance.entryDateTime, 'dd-MM-yyyy')}"></td>
        <td th:text="${#temporals.format(attendance.entryDateTime, 'HH:mm')}"></td>
        <td th:text="${#temporals.format(attendance.exitDateTime, 'HH:mm')}"></td>
        <td th:text="${attendance.workedHours}"></td>
      <!-- <td th:text="${attendance.attendancePercentage + '%'}"></td>-->
    </tr>
</table>
<!-- Total de Horas Trabajadas -->
<h3 th:if="${totalAttendanceHours != null}">Total de Horas Trabajadas: <span th:text="${totalAttendanceHours}"></span> horas</h3>

<h2>Reporte de Consumo Individual</h2>
<table>
    <tr>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Monto</th>
    </tr>
    <tr th:each="consumptionClass : ${individualConsumptionReports}">
        <td th:text="${#temporals.format(consumptionClass.consumptionDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${consumptionClass.description}"></td>
        <td th:text="${'$' + #numbers.formatDecimal(consumptionClass.amount, 1, 2)}"></td>
    </tr>
</table>

<!-- Consumo Total -->
<h3 th:if="${totalConsumptionAmount != null}">Consumo Total: <span th:text="${totalConsumptionAmount}"></span> $</h3>

</body>
</html>
