<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reporte Semanal</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>Reporte Semanal para <span th:text="${employeeName}"></span></h1>

<h2>Reporte de Asistencia</h2>
<table>
    <tr>
        <th>Fecha</th>
        <th>Hora de Entrada</th>
        <th>Hora de Salida</th>
    </tr>
    <tr th:each="attendance : ${attendanceReports}">
        <td th:text="${#temporals.format(attendance.attendanceDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#temporals.format(attendance.entryTime, 'HH:mm')}"></td>
        <td th:text="${#temporals.format(attendance.exitTime, 'HH:mm')}"></td>
    </tr>
</table>

<h2>Reporte de Consumo Individual</h2>
<table>
    <tr>
        <th>Fecha</th>
        <th>Descripcion</th>
        <th>Monto</th>
    </tr>
    <tr th:each="consumption : ${consumptionReports}">
        <td th:text="${#temporals.format(consumption.consumptionDate, 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${consumption.description}"></td>
        <td th:text="${'$' + #numbers.formatDecimal(consumption.amount, 1, 2)}"></td>
    </tr>
</table>
</body>
</html>